<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tareas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="onCategoryChange()">
      <ion-select-option [value]="null">Todas</ion-select-option>
      <ion-select-option *ngFor="let cat of categories" [value]="cat.id"
        >{{cat.name}}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Nueva tarea" [(ngModel)]="newTaskTitle"></ion-input>
    <ion-button (click)="addTask()">Agregar</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-checkbox
        slot="start"
        [(ngModel)]="task.completed"
        (ionChange)="toggleComplete(task)"
      ></ion-checkbox>
      <ion-label
        [ngStyle]="{'text-decoration': task.completed ? 'line-through' : 'none'}"
      >
        {{task.title}}
      </ion-label>
      <ion-badge *ngIf="task.categoryId" color="primary" slot="end">
        {{ getCategoryName(task.categoryId) }}
      </ion-badge>
      <ion-button
        color="danger"
        fill="clear"
        slot="end"
        (click)="removeTask(task)"
      >
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
